In [13]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from time import time

np.random.seed(1337)


from datetime import date

today = str(date.today())
end_date = today

import glob

path = r'/Users/laksh/Documents/fantasy/FantasySports/data/final'  # use your path
allFiles = glob.glob(path + "/2*.csv")

dfTrain = pd.DataFrame()

for _file in allFiles[:-5]:
        try:
            t = pd.read_csv(_file, header=0)
            if "LastGame" not in t:
                print("LastGame not in " + _file)
            k = len(t[((t["Final"]==0) & (t["injured"]==0))])
            #if k > 0:
            #print("Found something in: " + _file + " count: " + str(k))
            dfTrain = pd.concat([dfTrain,t])
        except:
            print("There was an exception with " + _file)
            pass

print("Last file loaded: " + str(len(allFiles)))
test_files = allFiles[-5:-1]
dfTest = pd.DataFrame()
for _file in test_files:
    print("Test file " + _file)
    dfTest = pd.concat([dfTest, pd.read_csv(_file,header=0)])


predict_file = '/Users/laksh/Documents/fantasy/FantasySports/data/final/2017-02-01.csv'
print("Predict file " + predict_file)
dfPredict = pd.read_csv(predict_file, header=0)

out_file = predict_file.replace("final","final2")
print("Out file " + out_file)

Last file loaded: 41
Test file /Users/laksh/Documents/fantasy/FantasySports/data/final/2017-01-28.csv
Test file /Users/laksh/Documents/fantasy/FantasySports/data/final/2017-01-29.csv
Test file /Users/laksh/Documents/fantasy/FantasySports/data/final/2017-01-30.csv
Test file /Users/laksh/Documents/fantasy/FantasySports/data/final/2017-01-31.csv
Predict file /Users/laksh/Documents/fantasy/FantasySports/data/final/2017-02-01.csv
Out file /Users/laksh/Documents/fantasy/FantasySports/data/final2/2017-02-01.csv

In [14]:
print(len(dfTrain))
dfTrain.loc[:,('LastGame','fvalue','Final')].fillna(0.0, inplace=True)
dfTrain.loc[(dfTrain['Final'] == 0),"Final"] = dfTrain[(dfTrain['Final'])==0]['4GameAvg']
dfTrain = dfTrain.dropna()
#dfTrain[(dfTrain["Final"]==0)] = dfTrain[(dfTrain["Final"]==0)][["4GameAvg"]]
print(len(dfTrain))

print(len(dfTest))
dfTest.loc[:,('LastGame','fvalue','Final')].fillna(0.0, inplace=True)
dfTest.loc[(dfTest['Final'] == 0),"Final"] = dfTest[(dfTest['Final'])==0]['4GameAvg']
dfTest = dfTest.dropna()
print(len(dfTest))

7759
7649
716
708

In [15]:
dfTrain.loc[:,('4GameAvg','LastGame','fvalue','Final')].head(10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>4GameAvg</th>
      <th>LastGame</th>
      <th>fvalue</th>
      <th>Final</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>55.812</td>
      <td>81.25</td>
      <td>0.183</td>
      <td>73.250</td>
    </tr>
    <tr>
      <th>1</th>
      <td>52.938</td>
      <td>43.75</td>
      <td>0.180</td>
      <td>42.500</td>
    </tr>
    <tr>
      <th>2</th>
      <td>48.750</td>
      <td>69.50</td>
      <td>0.228</td>
      <td>55.250</td>
    </tr>
    <tr>
      <th>3</th>
      <td>41.250</td>
      <td>26.75</td>
      <td>0.255</td>
      <td>36.250</td>
    </tr>
    <tr>
      <th>4</th>
      <td>37.000</td>
      <td>44.75</td>
      <td>0.122</td>
      <td>41.000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>32.188</td>
      <td>32.75</td>
      <td>0.256</td>
      <td>16.000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>41.562</td>
      <td>36.25</td>
      <td>0.271</td>
      <td>50.250</td>
    </tr>
    <tr>
      <th>7</th>
      <td>38.750</td>
      <td>21.25</td>
      <td>0.293</td>
      <td>40.750</td>
    </tr>
    <tr>
      <th>8</th>
      <td>40.188</td>
      <td>43.25</td>
      <td>0.288</td>
      <td>40.188</td>
    </tr>
    <tr>
      <th>9</th>
      <td>39.562</td>
      <td>44.75</td>
      <td>0.244</td>
      <td>49.500</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
dfTest.columns[pd.isnull(dfTest).any()]

Index([], dtype='object')

In [17]:
print(len(dfPredict))
dfPredict = dfPredict.fillna(0)
print(len(dfPredict))

358
358

In [18]:
scaler = StandardScaler()
features = ['Salary','AvgPointsPerGame','7GameAvg','FloorAvg'
            ,'4GameAvg','value','fvalue','atHome','LastGame','O/U','odds',"dvp"]

In [19]:
df_train = dfTrain
X_train = scaler.fit_transform(df_train[features].values)
y_train = df_train["Final"].values

In [20]:
df_test = dfTest
X_test = scaler.transform(df_test[features].values)
y_test = df_test["Final"].values

In [21]:
df_train.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Salary</th>
      <th>AvgPointsPerGame</th>
      <th>atHome</th>
      <th>injured</th>
      <th>7GameAvg</th>
      <th>FloorAvg</th>
      <th>4GameAvg</th>
      <th>LastGame</th>
      <th>dvp</th>
      <th>value</th>
      <th>fvalue</th>
      <th>odds</th>
      <th>O/U</th>
      <th>penalty</th>
      <th>Final</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>7649.000000</td>
      <td>7649.000000</td>
      <td>7649.000000</td>
      <td>7649.000000</td>
      <td>7649.000000</td>
      <td>7649.000000</td>
      <td>7649.000000</td>
      <td>7649.000000</td>
      <td>7649.000000</td>
      <td>7649.000000</td>
      <td>7649.000000</td>
      <td>7649.000000</td>
      <td>7649.000000</td>
      <td>7649.000000</td>
      <td>7649.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>4245.195450</td>
      <td>17.578403</td>
      <td>0.500588</td>
      <td>0.074520</td>
      <td>17.721307</td>
      <td>11.815087</td>
      <td>17.516462</td>
      <td>17.091483</td>
      <td>15.366976</td>
      <td>25.471173</td>
      <td>0.200132</td>
      <td>0.024121</td>
      <td>208.097072</td>
      <td>-929.776410</td>
      <td>17.738466</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1748.606959</td>
      <td>11.738052</td>
      <td>0.500032</td>
      <td>0.262632</td>
      <td>12.336560</td>
      <td>10.052983</td>
      <td>12.739055</td>
      <td>14.677000</td>
      <td>8.386971</td>
      <td>10.491642</td>
      <td>0.138597</td>
      <td>7.011350</td>
      <td>27.144365</td>
      <td>2737.851237</td>
      <td>14.169845</td>
    </tr>
    <tr>
      <th>min</th>
      <td>3000.000000</td>
      <td>-1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>-1.000000</td>
      <td>1.000000</td>
      <td>18.000000</td>
      <td>0.000000</td>
      <td>-18.000000</td>
      <td>1.000000</td>
      <td>-9158.347000</td>
      <td>-1.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>3000.000000</td>
      <td>8.939000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>8.357000</td>
      <td>3.925000</td>
      <td>7.375000</td>
      <td>5.000000</td>
      <td>8.500000</td>
      <td>18.000000</td>
      <td>0.082000</td>
      <td>-5.000000</td>
      <td>205.000000</td>
      <td>-8.815000</td>
      <td>5.875000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>3400.000000</td>
      <td>15.936000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>15.786000</td>
      <td>9.714000</td>
      <td>15.250000</td>
      <td>14.000000</td>
      <td>15.000000</td>
      <td>20.400000</td>
      <td>0.199000</td>
      <td>1.000000</td>
      <td>211.500000</td>
      <td>-1.435000</td>
      <td>14.750000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>5000.000000</td>
      <td>24.206000</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>24.821000</td>
      <td>16.797000</td>
      <td>24.875000</td>
      <td>25.750000</td>
      <td>22.500000</td>
      <td>30.000000</td>
      <td>0.295000</td>
      <td>5.000000</td>
      <td>217.000000</td>
      <td>3.632000</td>
      <td>26.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>13000.000000</td>
      <td>65.219000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>70.321000</td>
      <td>54.533000</td>
      <td>76.062000</td>
      <td>103.500000</td>
      <td>30.000000</td>
      <td>78.000000</td>
      <td>0.953000</td>
      <td>18.000000</td>
      <td>240.500000</td>
      <td>84.545000</td>
      <td>103.500000</td>
    </tr>
  </tbody>
</table>
</div>

In [22]:
df_test.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Salary</th>
      <th>AvgPointsPerGame</th>
      <th>atHome</th>
      <th>injured</th>
      <th>7GameAvg</th>
      <th>FloorAvg</th>
      <th>4GameAvg</th>
      <th>LastGame</th>
      <th>dvp</th>
      <th>value</th>
      <th>fvalue</th>
      <th>odds</th>
      <th>O/U</th>
      <th>penalty</th>
      <th>Final</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>708.000000</td>
      <td>708.000000</td>
      <td>708.000000</td>
      <td>708.000000</td>
      <td>708.000000</td>
      <td>708.000000</td>
      <td>708.000000</td>
      <td>708.000000</td>
      <td>708.000000</td>
      <td>708.000000</td>
      <td>708.000000</td>
      <td>708.000000</td>
      <td>708.000000</td>
      <td>708.000000</td>
      <td>708.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>4293.502825</td>
      <td>17.824061</td>
      <td>0.500000</td>
      <td>0.132768</td>
      <td>18.215352</td>
      <td>11.903782</td>
      <td>18.284165</td>
      <td>17.728814</td>
      <td>15.214336</td>
      <td>25.761017</td>
      <td>0.202556</td>
      <td>0.081921</td>
      <td>205.321328</td>
      <td>-1033.993866</td>
      <td>18.147982</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1788.605342</td>
      <td>11.572297</td>
      <td>0.500353</td>
      <td>0.339564</td>
      <td>12.395035</td>
      <td>9.960629</td>
      <td>12.868369</td>
      <td>15.081816</td>
      <td>8.465373</td>
      <td>10.731632</td>
      <td>0.143131</td>
      <td>7.495189</td>
      <td>42.701368</td>
      <td>2868.165839</td>
      <td>14.324296</td>
    </tr>
    <tr>
      <th>min</th>
      <td>3000.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>-0.500000</td>
      <td>1.000000</td>
      <td>18.000000</td>
      <td>0.000000</td>
      <td>-12.500000</td>
      <td>1.000000</td>
      <td>-9149.199000</td>
      <td>-0.500000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>3000.000000</td>
      <td>9.262000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>9.000000</td>
      <td>4.107000</td>
      <td>7.906500</td>
      <td>5.250000</td>
      <td>8.000000</td>
      <td>18.000000</td>
      <td>0.097500</td>
      <td>-7.000000</td>
      <td>208.000000</td>
      <td>-8.196000</td>
      <td>6.625000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>3500.000000</td>
      <td>16.225500</td>
      <td>0.500000</td>
      <td>0.000000</td>
      <td>16.411000</td>
      <td>9.724000</td>
      <td>16.343500</td>
      <td>14.375000</td>
      <td>15.500000</td>
      <td>21.000000</td>
      <td>0.193500</td>
      <td>1.000000</td>
      <td>214.500000</td>
      <td>-1.660000</td>
      <td>14.687500</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>5100.000000</td>
      <td>24.621250</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>25.152000</td>
      <td>16.941750</td>
      <td>25.375000</td>
      <td>26.500000</td>
      <td>22.000000</td>
      <td>30.600000</td>
      <td>0.290000</td>
      <td>7.000000</td>
      <td>222.000000</td>
      <td>5.128000</td>
      <td>26.188000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>12800.000000</td>
      <td>64.224000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>68.607000</td>
      <td>53.990000</td>
      <td>70.062000</td>
      <td>97.750000</td>
      <td>30.000000</td>
      <td>76.800000</td>
      <td>0.953000</td>
      <td>12.500000</td>
      <td>230.500000</td>
      <td>34.708000</td>
      <td>70.750000</td>
    </tr>
  </tbody>
</table>
</div>

In [25]:
from sklearn.ensemble import RandomForestRegressor

modelRFR = RandomForestRegressor(n_estimators=20,
#                               random_state=1,
                              verbose=False,
                              warm_start=True)
modelRFR = modelRFR.fit(X_train, y_train)

yRF_prediction = modelRFR.predict(X_test)
print (modelRFR.score(  X_train , y_train ) , modelRFR.score(  X_test , y_test  ))
print ("\naccuracy", np.sum(abs(yRF_prediction-y_test)<5) / float(len(y_test)))
#51.8 at 120

0.951269145528 0.722127507873

accuracy 0.622881355932

In [26]:
from sklearn.svm import SVR
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.1)
svr_rbf.fit( X_train , y_train )
print (svr_rbf.score(  X_train , y_train ) , svr_rbf.score(  X_test , y_test  ))
SVR_prediction = svr_rbf.predict(X_test)
print ("\naccuracy", np.sum(abs(SVR_prediction-y_test)<5) / float(len(y_test)))

0.785892168928 0.665305796093

accuracy 0.621468926554

In [41]:
from sklearn.tree import DecisionTreeRegressor
regr = DecisionTreeRegressor(max_depth=5)
regr.fit( X_train , y_train )
print (regr.score(  X_train , y_train ) , regr.score(  X_test , y_test  ))
DTR_prediction = regr.predict(X_test)
print ("\naccuracy", np.sum(abs(DTR_prediction-y_test)<5) / float(len(y_test)))

0.722667453853 0.742236435432

accuracy 0.631355932203

In [55]:
from sklearn.neighbors import KNeighborsRegressor
knr = KNeighborsRegressor(n_neighbors=7)
knr.fit( X_train , y_train )
print (knr.score(  X_train , y_train ) , knr.score(  X_test , y_test  ))
KNR_prediction = knr.predict(X_test)
print ("\naccuracy", np.sum(abs(KNR_prediction-y_test)<5) / float(len(y_test)))

0.755951850029 0.707819006879

accuracy 0.631355932203

In [56]:
from sklearn.neural_network import MLPRegressor
mlp = MLPRegressor()
mlp.fit( X_train , y_train )
print (mlp.score(  X_train , y_train ) , mlp.score(  X_test , y_test  ))
mlp_prediction = mlp.predict(X_test)
print ("\naccuracy", np.sum(abs(mlp_prediction-y_test)<5) / float(len(y_test)))

0.715596814542 0.747441320016

accuracy 0.649717514124

In [85]:
from sklearn.neural_network import MLPRegressor
mlp = MLPRegressor\
    (activation='identity',solver='adam', learning_rate='adaptive', hidden_layer_sizes=(3, 6))
mlp.fit( X_train , y_train )
print (mlp.score(  X_train , y_train ) , mlp.score(  X_test , y_test  ))
mlp_prediction = mlp.predict(X_test)
print ("\naccuracy", np.sum(abs(mlp_prediction-y_test)<5) / float(len(y_test)))

0.706754284226 0.742338183146

accuracy 0.65395480226

In [379]:
# 0.3911
#y_tree_prediction
#pd.concat([dfTest["Name"],pd.DataFrame(y_tree_prediction),pd.DataFrame(y_test)],axis=1)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Activation

start = time()

model = Sequential()
model.add(Dense(16, input_dim=len(features), init='normal', activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, init='normal', activation='relu'))
          
model.compile(optimizer='adam', metrics=['accuracy','recall','fmeasure'],loss="mae")
# MAE 58.23%<5 16-8-1 50 Adam MAE
# MAE 55.69%<5 16-8-1  50 epoch SGD  MAE
# MSE 81% 
# MAPE 35% 
# MSLE 53% 
# HINGE 34% 
# SGD MSE 150 70% 
model.fit(X_train, y_train,
          validation_data=(X_test,y_test),
          verbose=False,
          nb_epoch=10, batch_size=10)

print ('\ntime taken %s seconds' % str(time() - start))

In [391]:
model.evaluate(X_test,y_test)

320/532 [=================>............] - ETA: 0s

[5.4991611412593295,
 0.039473684238536019,
 0.99605464935302734,
 0.99303012145193004]

In [394]:
y_predict = model.predict(X_test)
print ("\naccuracy", np.sum(abs(y_predict.T[0]-y_test)<10) / float(len(y_test)))
print(y_predict[:5])
#19% 3 layer

accuracy 0.813909774436
[[ 57.64378357]
 [ 56.12789154]
 [ 51.75420761]
 [ 45.25780487]
 [ 51.74334717]]

In [393]:
print(yRF_prediction[:5])
print(y_predict[:5].T[0])

[ 55.8625  48.275   52.725   56.1     52.15  ]
[ 57.64378357  56.12789154  51.75420761  45.25780487  51.74334717]

In [162]:
kk = pd.DataFrame.from_dict(data= {"NN":y_predict.T[0] ,"RF":yRF_prediction})
kk.head()

          NN       RF
0  56.664860  53.4050
1  55.521008  47.2775
2  55.712742  53.5700
3  52.164722  51.9725
4  48.568645  50.8025

In [169]:
X_test

array([[ 3.44357014,  2.91845601,  2.92261847, ..., -0.07215319,
         1.05463156,  0.31194725],
       [ 3.22839977,  2.33045987,  2.9043946 , ...,  0.41826526,
        -1.55812196,  1.68575966],
       [ 3.06702199,  2.63083943,  2.42989279, ...,  0.32744703,
        -0.14582276,  0.4314092 ],
       ...,
       [-0.85983733, -1.01712746, -1.36569593, ...,  0.01866504,
        -0.49889756,  1.20791187],
       [-0.85983733, -0.60844228, -0.65709406, ...,  0.01866504,
        -0.49889756, -0.0464386 ],
       [-0.85983733, -1.12857888, -1.55023387, ...,  0.01866504,
         0.48971188, -1.71890589]])

In [187]:
# df_test["NN"] = kk["NN"]
# df_test["RF"] = kk["RF"]
df_test[["NN","RF"]] = None
df_test[["NN", "RF"]] = kk
df_test.head()

,Position,Name,Salary,GameInfo,AvgPointsPerGame,teamAbbrev,atHome,injured,7GameAvg,FloorAvg,...,LastGame,dvp,value,fvalue,odds,O/U,penalty,Final,NN,RF
0,PF/C,DeMarcus Cousins,11000,Sac@Cha 07:00PM ET,53.189,Sac,0,0,55.357,40.653,...,54.50,18.0,66.0,0.161,7.5,206.0,-6.196,67.00,56.664860,53.4050
1,PF/C,Karl-Anthony Towns,10600,Bkn@Min 09:00PM ET,46.647,Min,1,0,55.143,38.713,...,58.00,29.5,63.6,0.076,-11.0,219.5,5.359,66.25,55.521008,47.2775
2,PG/SF,Giannis Antetokounmpo,10300,Bos@Mil 08:00PM ET,49.989,Mil,1,0,49.571,40.750,...,45.00,19.0,61.8,0.164,-1.0,217.0,3.589,39.50,55.712742,53.5700
4,SF,Kevin Durant,9500,LAC@GS 08:30PM ET,49.978,GS,1,0,49.750,42.065,...,47.75,20.0,57.0,0.242,-11.5,222.0,7.128,44.00,48.568645,50.8025
5,PG,Isaiah Thomas,9400,Bos@Mil 08:00PM ET,44.143,Bos,0,0,47.857,36.978,...,41.25,5.0,56.4,0.102,1.0,217.0,-8.411,56.25,45.942669,45.4350

In [181]:
output = pd.concat([df_test,
            pd.DataFrame(y_predict.T[0],columns=["RF"]),
            pd.DataFrame(yRF_prediction,columns=["NN"])]
          ,axis=1)
#output.to_csv('data/output/2017-01-24.csv', sep=',', encoding='utf-8', index=False, float_format='%.3f')

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [171]:
output.head()

,0,1,2,3,4,5,6,7,8,9,10,11,RF,NN
0,3.443570,2.918456,2.922618,2.668608,3.323618,3.443570,-0.540922,-0.996791,2.315791,-0.072153,1.054632,0.311947,56.664860,53.4050
1,3.228400,2.330460,2.904395,2.471951,2.871254,3.228400,-1.236965,1.003219,2.559417,0.418265,-1.558122,1.685760,55.521008,47.2775
2,3.067022,2.630839,2.429893,2.678441,2.218369,3.067022,-0.516356,1.003219,1.654521,0.327447,-0.145823,0.431409,55.712742,53.5700
3,2.636681,2.629851,2.445136,2.811741,2.218369,2.636681,0.122365,1.003219,1.845941,0.509083,-1.628737,0.550871,52.164722,51.9725
4,2.582889,2.105400,2.283932,2.296075,2.470295,2.582889,-1.024058,-0.996791,1.393493,0.327447,0.136637,-1.241058,48.568645,50.8025

In [103]:
output.loc[:,("Name","NN","RF","AvgPointsPerGame","Final","O/U","odds","dvp")].sort_values(by=["O/U","NN","dvp"], ascending=False).head(10)

                     Name  NN  RF  AvgPointsPerGame  Final    O/U  odds    dvp
164  James Michael McAdoo NaN NaN             4.850  13.50  230.5   0.0  29.00
11         Draymond Green NaN NaN            39.028  25.00  230.5   0.0  28.50
81          Zaza Pachulia NaN NaN            18.314  30.75  230.5   0.0  28.00
169          JaVale McGee NaN NaN            10.417  16.75  230.5   0.0  28.00
28          Mason Plumlee NaN NaN            31.021  36.75  230.5   8.5  22.00
1            Kevin Durant NaN NaN            49.851  55.00  230.5   0.0  18.50
72         Andre Iguodala NaN NaN            18.283  28.75  230.5   0.0  18.50
162        Meyers Leonard NaN NaN            11.970   4.50  230.5   8.5  16.00
9          Damian Lillard NaN NaN            43.227  35.00  230.5   8.5  15.50
15          C.J. McCollum NaN NaN            36.901  43.75  230.5   8.5  13.75

##  Predictions for Today!!!

In [21]:
scaler1 = StandardScaler()
features = ['Salary','AvgPointsPerGame','7GameAvg','FloorAvg'
            ,'4GameAvg','value','fvalue','atHome','LastGame','O/U','odds',"dvp"]

X_predict = scaler1.fit_transform(dfPredict[features].values)
y_tree_prediction = modelRFR.predict(X_predict) ## Random Forest
y_predict = model.predict(X_predict) ## Neural Networks prediction

In [22]:
output = pd.concat([dfPredict,
            pd.DataFrame(y_predict,columns=["NN"]),
            pd.DataFrame(y_tree_prediction,columns=["RF"])]
          ,axis=1)

In [551]:
#y_predict
#output.loc[:,"NN"].head()
#print(out_file)

In [23]:
output.to_csv(predict_file, sep=',', encoding='utf-8', index=False, float_format='%.3f')
withoutInjuries = output[(output["injured"]==0)]
withoutInjuries.head()
withoutInjuries.to_csv(out_file, sep=',', encoding='utf-8', index=False, float_format='%.3f')

In [207]:
from sklearn.metrics import mean_squared_error
rms = np.sqrt(mean_squared_error(y_test, y_predict))

In [208]:
print(rms)

7.08377222844

In [179]:
import pandas as pd 
import numpy as np
predicted_file = 'data/final/2017-01-28.csv'
print("Predict file " + predicted_file)
dfPredicted = pd.read_csv(predicted_file, header=0)
dfPredicted["ErrorNN"] = dfPredicted["NN"].T-dfPredicted["Final"]
dfPredicted["ErrorRF"] = dfPredicted["RF"].T-dfPredicted["Final"]
#rmsNN = np.sqrt(mean_squared_error(dfPredicted["Final"], dfPredicted["NN"]))
#rmsRF = np.sqrt(mean_squared_error(dfPredicted["Final"], dfPredicted["RF"]))
dfPredicted.iloc[:,-3:].describe()
print(np.sum(abs(dfPredicted["NN"].T-dfPredicted["Final"]) < 5)/float(len(dfPredicted["Final"])))
print(np.sum(abs(dfPredicted["RF"].T-dfPredicted["Final"]) < 5)/float(len(dfPredicted["Final"])))
dfPredictedFiltered = dfPredicted[(abs(dfPredicted["ErrorNN"]) < 5)]
print("Len NN > 5 " + str(len(dfPredictedFiltered)))
dfPredictedFiltered = dfPredicted[(abs(dfPredicted["ErrorNN"]) > 5)]
print("Len NN < 5 " + str(len(dfPredictedFiltered)))
dfPredictedFiltered = dfPredicted[(abs(dfPredicted["ErrorRF"]) < 5)]
print("Len RF > 5 " + str(len(dfPredictedFiltered)))
dfPredictedFiltered = dfPredicted[(abs(dfPredicted["ErrorRF"]) > 5)]
print("Len RF < 5 " + str(len(dfPredictedFiltered)))

dfPredictedFiltered.loc[:,("Name","NN","RF","Final","ErrorNN","ErrorRF")]

Predict file data/final/2017-01-28.csv
0.317307692308
0.341346153846
Len NN > 5 66
Len NN < 5 142
Len RF > 5 71
Len RF < 5 137

                         Name      NN      RF  Final  ErrorNN  ErrorRF
0            DeMarcus Cousins  54.636  51.549  67.00  -12.364  -15.451
1          Karl-Anthony Towns  58.177  43.118  66.25   -8.073  -23.132
2       Giannis Antetokounmpo  45.161  45.064  39.50    5.661    5.564
3                Nikola Jokic  64.662  65.015  39.50   25.162   25.515
5               Isaiah Thomas  41.379  29.382  56.25  -14.871  -26.868
6                Eric Bledsoe  41.656  40.059  64.50  -22.844  -24.441
7               Stephen Curry  44.666  35.309  66.75  -22.084  -31.441
8                  Chris Paul  13.443  10.995  66.75  -53.307  -55.755
10             Draymond Green  38.157  38.211  26.25   11.907   11.961
12                 Marc Gasol  57.627  49.304  33.50   24.127   15.804
13             DeAndre Jordan  40.111  35.412  18.25   21.861   17.162
14               Goran Dragic  54.408  51.279  33.50   20.908   17.779
15           Hassan Whiteside   8.565  10.426  27.00  -18.435  -16.574
16             Andre Drummond  36.616  35.299  54.50  -17.884  -19.201
18             Andrew Wiggins  31.395  30.848  36.25   -4.855   -5.402
19              Jabari Parker  40.395  34.946  14.00   26.395   20.946
21                 Al Horford  47.876  46.088  33.50   14.376   12.588
28              Klay Thompson  31.401  27.784  20.75   10.651    7.034
30                Brook Lopez  45.105  16.721  40.25    4.855  -23.529
32              Austin Rivers  30.119  29.657  23.50    6.619    6.157
33           Danilo Gallinari  37.870  37.985  44.50   -6.630   -6.515
34             Tyson Chandler  16.879  14.015  36.25  -19.371  -22.235
37            Wilson Chandler  28.356  23.559  11.25   17.106   12.309
38               Marcus Smart  29.116  27.583  21.50    7.616    6.083
39              Avery Bradley  16.828   9.980  21.50   -4.672  -11.520
40               Gorgui Dieng  28.396  28.025  35.00   -6.604   -6.975
42              James Johnson  33.402  31.603  41.50   -8.098   -9.897
44   Kentavious Caldwell-Pope  34.874  31.520   8.50   26.374   23.020
45                Greg Monroe   8.749   9.725  44.75  -36.001  -35.025
49                J.J. Redick  26.360  24.804  15.75   10.610    9.054
..                        ...     ...     ...    ...      ...      ...
168              Kosta Koufos  23.584  23.760  10.25   13.334   13.510
169       Willie Cauley-Stein   6.328   5.505  16.25   -9.922  -10.745
170      Georgios Papagiannis   0.000   0.000  16.25  -16.250  -16.250
171                Beno Udrih   0.000   0.000  16.25  -16.250  -16.250
172                 Ish Smith  10.065   7.564  13.00   -2.935   -5.436
174           Darrun Hilliard   2.598   4.598  17.75  -15.152  -13.152
175          Derrick Williams   0.000   0.000  17.75  -17.750  -17.750
176           Michael Gbinije   0.000   0.392  17.75  -17.750  -17.358
177                Chris Bosh   0.000   0.000  17.75  -17.750  -17.750
178            Josh McRoberts  10.086   3.221  17.75   -7.664  -14.529
179              Luke Babbitt   8.353   8.255  13.75   -5.397   -5.495
180           Justise Winslow  32.842  20.858  13.75   19.092    7.108
181            Henry Ellenson   0.000   0.975  13.75  -13.750  -12.775
182             Udonis Haslem   0.360   2.098  13.75  -13.390  -11.652
183          Boban Marjanovic   2.786   1.201  13.75  -10.964  -12.549
184                 Raul Neto   0.000   0.000  13.75  -13.750  -13.750
185                Dante Exum  14.871  10.946   3.00   11.871    7.946
187              Troy Daniels   0.000  -0.314   7.00   -7.000   -7.314
188             Troy Williams   0.000   0.000   7.00   -7.000   -7.000
189               Joe Johnson   9.597   7.569  15.00   -5.403   -7.431
193                Trey Lyles  12.358  11.985   6.25    6.108    5.735
195            Brandan Wright   0.000   0.000   6.25   -6.250   -6.250
196               Jeff Withey   0.000   0.902   6.25   -6.250   -5.348
197           Leandro Barbosa   6.765   3.755  17.50  -10.735  -13.745
198                Tyler Ulis   4.267   3.730  17.50  -13.233  -13.770
199             Malik Beasley   0.000   1.181  17.50  -17.500  -16.319
200               Mike Miller   7.302   3.417  17.50  -10.198  -14.083
201             Dragan Bender   2.453   1.250  17.50  -15.047  -16.250
202         Derrick Jones Jr.   0.000   0.770  17.50  -17.500  -16.730
204              Jared Dudley   9.582   7.799   1.25    8.332    6.549

[137 rows x 6 columns]